body {
  background: lightblue;
}

#celsius {
  font-size: 20px;
  text-decoration: none;
}

#fahrenheit {
  font-size: 20px;
  text-decoration: none;
}

#separator {
  font-size: 25px;
}
#temperature-today {
  font-size: 64px;
  line-height: 1;
}

img.current-img {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  position: relative;
  top: -25px;
}

#current-weather::first-letter {
  text-transform: capitalize;
}

#forecast {
  text-align: center;
}

.weatherApp {
  max-width: 900px;
  margin: 30px auto;
}

.units {
  position: relative;
  top: -30px;
  font-size: 25px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.location {
  padding-bottom: 10px;
}

.weather-forcast-icon {
  margin-top: -10px;
  margin-bottom: -5px;
}

.forecast-temperature {
  font-size: 20px;
  float: top;
}
.forecast-day {
  opacity: 0.4;
}
.temperature-min {
  opacity: 0.4;
}